{% extends 'base.html' %}

{% block content %}

<div class="container">
  <a href="javascript:history.back()" class="text-info"><h6 class="pt-1">« {{ translations.BackToProjects }}</h6></a>
  <h1 class="my-2">{{ project.title }}
    <small>{% if project.second_title %}{{ project.second_title }}{% endif %}</small>
  </h1>

  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{ project.image.url }}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{ translations.ProjectDescription }}</h3>
      <p>{{ project.description }}</p>
      <a href="{{ project.hyperlink }}" class="text-info"> {% if project.hyperlink_title %}{{ project.hyperlink_title }}{% endif %}</a>
    </div>

  </div>

  <h3 class="my-4">{% if project.gallery %}{{ translations.Gallery }}{% endif %}</h3>

  <div class="row">

    {% for image in project.gallery %}

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="{{ image.url }}">
            <img class="img-thumbnail" src="{{ image.url }}" alt="" height="2">
          </a>
    </div>

    {% endfor %}

  </div>

</div>



{% endblock %}