{% extends 'base.html' %}

{% block content %}

{% load static %}

<main role="main">

    <section class="jumbotron text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-0">
                </div>
                <div class="col-md-8 col-xs-12">
                    <h1>{{ translations.Hello }}!</h1>
                    <p class="lead text-muted">{{ translations.Welcome }}</p>
                    <p>
                        <a href="mailto:karol.jerzy.kurek@gmail.com" class="btn btn-primary my-2">{{ translations.Write }}</a>
                    </p>
                    <img src="{% static 'ja.jpg' %}" height="200" width="200" />
                </div>
                <div class="col-md-2 col-xs-12">
                    {% for skill in skills %}
                        <div style="float:left; min-width: 150px;">
                            <div style="float:left; min-width: 50px; text-align: center;"><img src="{{ skill.icon.url }}" height="20" width="auto" /></div> {{ skill.summary }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="album py-1 bg-light">
        <div class="container">
            <h6>{{ translations.Newest }}</h6>
            <div class="row">
                {% for job in jobs %}
                <div class="col-md-3">
                    <div class="card mb-6 shadow-sm">
                        <a href="{{ job.link }}"><img src="{{ job.image.url }}" width="100%"/></a>
                        <div class="card-body">
                            {% if translations.lang == 'en' %}
                                <p class="card-text">{{ job.summary_en }}</p>
                            {% endif %}
                            {% if translations.lang == 'pl' %}
                                <p class="card-text">{{ job.summary_pl }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</main>

{% endblock %}
